---
import { getCollection } from "astro:content";
import ContentList from "../components/ContentList.astro";
import TagList from "../components/TagList.astro";

let posts = Astro.props.posts;
const tags = Astro.props.tags;
const tag = Astro.props.tag

posts.sort((a, b) => {
  return new Date(b.data.date) - new Date(a.data.date);
});

if (tag) {
  posts = posts.filter((post) => (post.data.tags.includes(tag)))
}

function filterPosts(postsList, category) {
  return postsList.filter(
    (post) => {
      // can pass category = undefined to not filter on this element
      const matchesCategory = (!category && post.data.status !== "compost") || ( post.data.status == category )
      const notDraft = !(post.data.tags.includes("draft"))

      return matchesCategory && notDraft
    }
  )
}

const all_posts = filterPosts(posts, undefined)
const new_posts = filterPosts(posts, "new")
const growing_posts = filterPosts(posts, "growing")
const bloom_posts = filterPosts(posts, "bloom")
---

<h1>agarden</h1>
<div id="tag-filter">
  <TagList tags={tags} activeTag={tag}/>
</div>
<ContentList posts={all_posts}/>
<!-- { -->
<!--   bloom_posts.length == 0 ? "" : -->
<!--     <h2>In Bloom</h2> -->
<!--     <ContentList posts={bloom_posts} /> -->
<!-- } -->
<!---->
<!-- { -->
<!--   growing_posts.length == 0 ? "" : -->
<!--     <h2>Growing</h2> -->
<!--     <ContentList posts={growing_posts} /> -->
<!-- } -->
<!---->
<!-- { -->
<!--   new_posts.length == 0 ? "" : -->
<!--     <h2>Newly Planted</h2> -->
<!--     <ContentList posts={new_posts} /> -->
<!-- } -->

<a id="compost" href="/compost">the compost heap</a>

<style>
  #tag-filter {
    margin-block-end: 1.5rem;
  }

  #compost {
    margin-block-start: 1.5rem;
    text-decoration: underline var(--main-500) 1px;
    text-underline-offset: 3px;
    color: var(--neutral-800);
    font-weight: 500;

    &:hover {
      text-decoration-color: var(--main-600);
      text-decoration-thickness: 2px;
      color: var(--neutral-900);
    }
  }
</style>
